<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/zenburn.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
    <%- css("css/main.css") %> <%- css("css/markdown.css") %> <%-
    js("js/jquery.min.js") %>
  </head>

  <body>
    <div id="container"><%- body %></div>
    <div class="image-dialog hide">
      <div class="image-detail">
        <img id="current-image" src="" draggable="false" />
      </div>
    </div>
  </body>
  <%- js("js/main.js") %>
</html>
